/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --logo-color: #db00ff;
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --theme-color:#000028;
  --bg-image: url(../images/cover-image-dark.png);
  --button-hover:rgba(255 0 70 / 0.4);
  --secondary-color:#ff0070;
}

.page.theme_dark .header__rec {
  display: flex;
}


@media (prefers-color-scheme: dark) {
  :root {
    --logo-color: #db00ff;
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --theme-color:#000028;
    --bg-image: url(../images/cover-image-dark.png);
    --button-hover:rgba(255 0 70 / 0.4);
    --secondary-color:#ff0070;
  }
  .header__rec {
    display: flex;
  }
  
}
